body {
    background-image: url(../img/Screenshot.png);
    text-align: center;
}
h1 {
    font-size: 2.3vw;
    font-weight: 800;
}
.hour {
    width: 3%;
}
.day span {
    line-height: 1;
}
h1 label {
    font-size: 1vw;
    font-weight: 600;
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
}
.setting {
    text-align: center;
}
span {
    font-size: 1.2vw;
    font-weight: 600;
    margin-left: 15px;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
}
table,th {
    border: 1px inset #333;
}
table {
    border-collapse: collapse;
    min-width: 600px;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 30px;
    text-align: center;
    background-color: #fff;
}
#day1 th {
    background: #009999;
    color: whitesmoke;
}
#day1 .floor {
    background: #005654;
}
#day2 th {
    background: #9a1629;
    color: whitesmoke;
}
#day2 .floor {
    background: #5e0e19;
}
.offer,.explanation {
    border: 1px inset #333;
}
.offer {
    background: #dff5f1;
}
.explanation {
    background:#dff5f1;
}
.setting {
    background: silver;
}

.place {
    font-size: 1.5rem;
}
.place th {
    height: 60px;
}
.time {
    width: 10%;
}
.detail {
    background-color: rgba(255, 255, 153, 0.5);
}
.sat {
    color: #0099ff;
}
.sun {
    color: #ff6600;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 30px;
    }
    span  {
        font-size: 18px;
    }
    h1 label {
        font-size: 10px;
    }
}
@media screen and (max-width: 900px) {
    h1 label {
        display: block;
        width: 300px;
        margin: auto;
        margin-top: 20px;
    }
}
